body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(97, 172, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.info {
  text-align: center;
}
.info > p {
  font-size: 1.2em;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.allKeys {
  display: flex;
  position: relative;
  left: auto;
}
.whichKey {
  text-align: center;
  text-transform: capitalize;
}
.bigKeys-0 {
  position: absolute;
  left: -220px;
}

.smallKeys-1 {
  position: absolute;
  z-index: 2;
  left: -170px;
}

.bigKeys-2 {
  position: absolute;
  left: -156px;
}

.smallKeys-3 {
  position: absolute;
  z-index: 2;
  left: -106px;
}

.bigKeys-4 {
  position: absolute;
  left: -92px;
}

.bigKeys-5 {
  position: absolute;
  left: -28px;
}

.smallKeys-6 {
  position: absolute;
  z-index: 2;
  left: 22px;
}

.bigKeys-7 {
  position: absolute;
  left: 36px;
}

.smallKeys-8 {
  position: absolute;
  z-index: 2;
  left: 86px;
}

.bigKeys-9 {
  position: absolute;
  left: 100px;
}

.smallKeys-10 {
  position: absolute;
  z-index: 2;
  left: 150px;
}

.bigKeys-11 {
  position: absolute;
  left: 164px;
}
